Repository ndthanhdev/ndthanhdev.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: add gtm (#68)
  apps/app/src/components/fragments/project-card/index.tsx
  apps/app/src/providers/theme-provider/index.tsx
  apps/counter/index.html
Due: eslint --fix, prettier --write

fix: add gtm (#67)
  apps/app/src/components/fragments/project-card/index.tsx
  apps/app/src/providers/theme-provider/index.tsx
  apps/counter/index.html
Due: eslint --fix, prettier --write

chore: publish
  3ffad12ddb8201567ba473bc1ccfd4ad377d5cd9-57b3c2fdc1439915df08.js
  3ffad12ddb8201567ba473bc1ccfd4ad377d5cd9-57b3c2fdc1439915df08.js.map
  3ffad12ddb8201567ba473bc1ccfd4ad377d5cd9-86e520cd49df8c746681.js
  3ffad12ddb8201567ba473bc1ccfd4ad377d5cd9-86e520cd49df8c746681.js.map
  404.html
  404/index.html
  _gatsby/slices/_gatsby-scripts-1.html
  about/index.html
  app-1796c9d5c769cb21ae24.js
  app-1796c9d5c769cb21ae24.js.map
  app-eae71c0f7f0182127976.js
  app-eae71c0f7f0182127976.js.LICENSE.txt
  app-eae71c0f7f0182127976.js.map
  apps/counter/index.html
  chunk-map.json
  component---src-pages-projects-tsx-355f2de81b5625806887.js
  component---src-pages-projects-tsx-355f2de81b5625806887.js.map
  component---src-pages-projects-tsx-417941dd34aff7931d10.js
  component---src-pages-projects-tsx-417941dd34aff7931d10.js.map
  cv/index.html
  index.html
  page-data/app-data.json
  posts/flni49tpxwz6ey3kgbniz/index.html
  posts/np3i3m4dpqzxwi37u2lyo/index.html
  posts/qs05qpu3c0p78ww123zv1/index.html
  posts/ucxy00ef02qe3z4sn5vop/index.html
  projects/index.html
  sitemap-0.xml
  webpack-runtime-937b16c428c0301a1dd1.js
  webpack-runtime-937b16c428c0301a1dd1.js.map
  webpack-runtime-ded33f8be9c034e3310d.js
  webpack-runtime-ded33f8be9c034e3310d.js.map
  webpack.stats.json
Due: eslint --fix, prettier --write

wip
  .gitignore
  .moon/workspace.yml
  .prototools
  .yarn/install-state.gz
  etc/templates/skeleton/etc/workflow-runtime/dagger.json
  etc/templates/skeleton/etc/workflow-runtime/moon.yml
  etc/templates/skeleton/etc/workflow-runtime/src/base.go
  etc/templates/skeleton/etc/workflow-runtime/src/go.mod
  etc/templates/skeleton/etc/workflow-runtime/src/go.sum
  etc/templates/skeleton/etc/workflow-runtime/src/utils/run_action_script.go
  etc/templates/skeleton/etc/workflow-runtime/src/utils/set_envs.go
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/templates/skeleton/template.yml
Due: eslint --fix, prettier --write

rt
  etc/templates/skeleton/etc/workflow-runtime/src/main.go
  etc/templates/skeleton/etc/workflow-runtime/src/utils/run_action_script.go
  etc/templates/skeleton/etc/workflow-runtime/src/utils/set_envs.go
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
Due: none

wip
  .github/workflows/validate-pr.yml
  etc/scripts/workflows/validate-pr.ts
Due: eslint --fix, prettier --write

wip
  .prototools
  etc/scripts/utils/work-dir.ts
  etc/scripts/workflows/validate-pr.ts
  etc/workflow-runtime/dagger.json
  etc/workflow-runtime/moon.yml
  etc/workflow-runtime/src/.gitattributes
  etc/workflow-runtime/src/.gitignore
  etc/workflow-runtime/src/go.mod
  etc/workflow-runtime/src/go.sum
  etc/workflow-runtime/src/main.go
  etc/workflow-runtime/src/workflow_runtime.go
Due: eslint --fix, prettier --write

wip
  .github/workflows/validate-pr.yml
  docs/guidelines.md
  rust-toolchain.toml
Due: eslint --fix, prettier --write

wip
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-stg.yml
  README.md
  etc/scripts/workflows/release.ts
Due: eslint --fix, prettier --write

clean up
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-stg.yml
  .github/workflows/validate-pr.yml
  docs/guidelines.md
  etc/runner/dagger.json
  etc/runner/moon.yml
  etc/runner/src/.gitattributes
  etc/runner/src/.gitignore
  etc/runner/src/con.go
  etc/runner/src/go.mod
  etc/runner/src/go.sum
  etc/runner/src/main.go
  etc/scripts/pipelines/release.ts
  etc/scripts/pipelines/validate-pr.ts
  etc/scripts/utils/work-dir.ts
  etc/templates/skeleton/etc/workflow-runtime/src/main.go
  etc/workflow-runtime/src/main.go
Due: eslint --fix, prettier --write

wip
  etc/templates/skeleton/template.yml
Due: eslint --fix, prettier --write

wip
  apps/app/content/posts/personal-website/dagger-io/dagger-io.mdx
  etc/templates/skeleton/etc/workflow-runtime/src/main.go
  etc/workflow-runtime/src/main.go
Due: prettier --write

chore: templates + workflow runtime (#69)
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-stg.yml
  .github/workflows/validate-pr.yml
  .gitignore
  .moon/workspace.yml
  .prototools
  .yarn/install-state.gz
  README.md
  apps/app/content/posts/personal-website/dagger-io/dagger-io.mdx
  docs/guidelines.md
  etc/runner/dagger.json
  etc/runner/src/con.go
  etc/runner/src/go.mod
  etc/runner/src/go.sum
  etc/runner/src/main.go
  etc/scripts/pipelines/release.ts
  etc/scripts/utils/work-dir.ts
  etc/scripts/workflows/release.ts
  etc/scripts/workflows/validate-pr.ts
  etc/templates/skeleton/etc/workflow-runtime/dagger.json
  etc/templates/skeleton/etc/workflow-runtime/moon.yml
  etc/templates/skeleton/etc/workflow-runtime/src/go.mod
  etc/templates/skeleton/etc/workflow-runtime/src/go.sum
  etc/templates/skeleton/etc/workflow-runtime/src/main.go
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/templates/skeleton/template.yml
  etc/workflow-runtime/dagger.json
  etc/workflow-runtime/moon.yml
  etc/workflow-runtime/src/.gitattributes
  etc/workflow-runtime/src/.gitignore
  etc/workflow-runtime/src/go.mod
  etc/workflow-runtime/src/go.sum
  etc/workflow-runtime/src/main.go
  etc/workflow-runtime/src/workflow_runtime.go
  rust-toolchain.toml
Due: eslint --fix, prettier --write

chore: publish script
  etc/scripts/workflows/release.ts
Due: eslint --fix, prettier --write

chore: publish script (#70)
  etc/scripts/workflows/release.ts
Due: eslint --fix, prettier --write

chpre: publish script
  etc/scripts/workflows/release.ts
Due: eslint --fix, prettier --write

chpre: publish script (#71)
  etc/scripts/workflows/release.ts
Due: eslint --fix, prettier --write

chore: fix release
  etc/scripts/workflows/release.ts
  etc/scripts/workflows/validate-pr.ts
  etc/templates/skeleton/etc/workflow-runtime/src/main.go
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/workflow-runtime/src/main.go
  etc/workflow-runtime/src/workflow_runtime.go
Due: eslint --fix, prettier --write

chore: fix release (#72)
  etc/scripts/workflows/release.ts
  etc/scripts/workflows/validate-pr.ts
  etc/templates/skeleton/etc/workflow-runtime/src/main.go
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/workflow-runtime/src/main.go
  etc/workflow-runtime/src/workflow_runtime.go
Due: eslint --fix, prettier --write

chore: fix typo
  etc/scripts/workflows/release.ts
Due: eslint --fix, prettier --write

chore: fix typo (#73)
  etc/scripts/workflows/release.ts
Due: eslint --fix, prettier --write

chore: build deps
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/workflow-runtime/src/workflow_runtime.go
Due: none

chore: build deps (#74)
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/workflow-runtime/src/workflow_runtime.go
Due: none

chore: fix release
  etc/workflow-runtime/src/workflow_runtime.go
Due: none

chore: fix release (#75)
  etc/workflow-runtime/src/workflow_runtime.go
Due: none

chore: fix build
  etc/workflow-runtime/src/workflow_runtime.go
Due: none

chore: fix build (#76)
  etc/workflow-runtime/src/workflow_runtime.go
Due: none

chore: template
  etc/templates/skeleton/etc/scripts/moon.yml.tera
  etc/templates/skeleton/etc/scripts/package.json.tera
  etc/templates/skeleton/etc/scripts/tsconfig.json.tera
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/templates/skeleton/template.yml
Due: eslint --fix, prettier --write

wip
  etc/scripts/actions/build.ts
  etc/scripts/actions/lint.ts
  etc/scripts/actions/publish.ts
  etc/scripts/actions/test.ts
  etc/scripts/utils/clean-build.ts
  etc/scripts/utils/clean-cache.ts
  etc/scripts/utils/clean-up.ts
  etc/scripts/utils/work-dirs.ts
  etc/scripts/workflows/release.ts
  etc/scripts/workflows/validate-pr.ts
  etc/templates/skeleton/etc/scripts/tsconfig.json.tera
Due: eslint --fix, prettier --write

wip
  .yarn/install-state.gz
  yarn.lock
Due: none

chore: template (#77)
  .yarn/install-state.gz
  etc/scripts/actions/build.ts
  etc/scripts/actions/lint.ts
  etc/scripts/actions/publish.ts
  etc/scripts/actions/test.ts
  etc/scripts/utils/clean-build.ts
  etc/scripts/utils/clean-cache.ts
  etc/scripts/utils/clean-up.ts
  etc/scripts/utils/work-dirs.ts
  etc/scripts/workflows/release.ts
  etc/scripts/workflows/validate-pr.ts
  etc/templates/skeleton/etc/scripts/moon.yml.tera
  etc/templates/skeleton/etc/scripts/package.json.tera
  etc/templates/skeleton/etc/scripts/tsconfig.json.tera
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/templates/skeleton/template.yml
  yarn.lock
Due: eslint --fix, prettier --write

chore: update dependencies and improve build script
  .yarn/install-state.gz
  Cargo.toml
  apps/counter/Cargo.toml
  apps/counter/src/main.rs
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/workflow-runtime/src/workflow_runtime.go
Due: none

chore: update dependencies and improve build script (#78)
  .yarn/install-state.gz
  Cargo.toml
  apps/counter/Cargo.toml
  apps/counter/src/main.rs
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/workflow-runtime/src/workflow_runtime.go
Due: none

chore: update build paths and improve project structure
  .moon/tasks/tag-trunk.yml
  .moon/toolchain.yml
  .prototools
  Cargo.toml
  apps/app/src/hooks/use-apps.ts
  apps/counter/Trunk.toml
  apps/counter/src/main.rs
  etc/scripts/actions/build.ts
  etc/scripts/utils/work-dirs.ts
  package.json
Due: eslint --fix, prettier --write

chore: update build paths and improve project structure (#79)
  .moon/tasks/tag-trunk.yml
  .moon/toolchain.yml
  .prototools
  Cargo.toml
  apps/app/src/hooks/use-apps.ts
  apps/counter/Trunk.toml
  apps/counter/src/main.rs
  etc/scripts/actions/build.ts
  etc/scripts/utils/work-dirs.ts
  package.json
Due: eslint --fix, prettier --write

feat: add frameUrl support to Media and ProjectCard components
  apps/app/src/components/fragments/project-card/index.tsx
  apps/app/src/components/fragments/project-card/styles.ts
  apps/app/src/components/screens/projects/index.tsx
  apps/app/src/hooks/use-apps.ts
Due: eslint --fix, prettier --write

feat: add frameUrl support to Media and ProjectCard components (#80)
  apps/app/src/components/fragments/project-card/index.tsx
  apps/app/src/components/fragments/project-card/styles.ts
  apps/app/src/components/screens/projects/index.tsx
  apps/app/src/hooks/use-apps.ts
Due: eslint --fix, prettier --write

feat: enhance CV component with new sections and dynamic experience calculation
  apps/app/content/cv/cv.mdx
  apps/app/src/components/elements/shields-io/shields-io.tsx
  apps/app/src/components/fragments/app-drawer/index.tsx
  apps/app/src/components/fragments/cv-section-divider/index.tsx
  apps/app/src/components/fragments/cv-section-divider/styles.ts
  apps/app/src/providers/mdx-provider.tsx
  apps/app/src/providers/mdx-provider/styles.ts
Due: eslint --fix, prettier --write

wip
  apps/app/src/components/fragments/cv-section-divider/index.tsx
Due: eslint --fix, prettier --write

feat: enhance CV component with new sections and dynamic experience c… (#81)
  apps/app/content/cv/cv.mdx
  apps/app/src/components/elements/shields-io/shields-io.tsx
  apps/app/src/components/fragments/app-drawer/index.tsx
  apps/app/src/components/fragments/cv-section-divider/index.tsx
  apps/app/src/components/fragments/cv-section-divider/styles.ts
  apps/app/src/providers/mdx-provider.tsx
  apps/app/src/providers/mdx-provider/styles.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,json,jsonc,yml,yaml}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,mdx,json,jsonc,html,graphql,yml,yaml}
