Repository ndthanhdev/ndthanhdev.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

"*.{js,jsx,ts,tsx,json,jsonc,yml,yaml}":
  - eslint --fix
"*.{js,jsx,ts,tsx,md,mdx,json,jsonc,html,graphql,yml,yaml}":
  - prettier --write

feat: update CV component with dynamic build number and reorganize imports
  apps/app/content/cv/cv.mdx
Due: prettier --write

feat: update CV component with dynamic build number and reorganize im… (#83)
  apps/app/content/cv/cv.mdx
Due: prettier --write

chore: update moonrepo
  .moon/tasks/tag-trunk.yml
  .moon/tasks/tag-typescript.yml
  .moon/toolchain.yml
  .moon/toolchains.yml
  .moon/workspace.yml
  .prototools
  .yarn/install-state.gz
  apps/app/moon.yml
  apps/counter/moon.yml
  apps/recorder/moon.yml
  etc/scripts/moon.yml
  etc/templates/skeleton/etc/workflow-runtime/moon.yml
  etc/workflow-runtime/moon.yml
Due: eslint --fix, prettier --write

chore: update workflow files
  .github/workflows/release-dev.yml
  .github/workflows/release-stg.yml
  .github/workflows/workspace-check.yml
  .github/workflows/workspace-verify.yml
  etc/scripts/utils/clean-build.ts
  etc/scripts/workflows/release-publish.ts
  etc/scripts/workflows/workspace-check.ts
  etc/scripts/workflows/workspace-verify.ts
Due: eslint --fix, prettier --write

Add recorder app to workspace and optimize build profiles
  Cargo.lock
  Cargo.toml
  apps/recorder/Cargo.toml
Due: none

chore: update Rust toolchain version to 1.91.0
  rust-toolchain.toml
Due: none

chore: update Rust version to 1.91.0
  .prototools
Due: none

chore: update Dagger version to v0.20.6 in workflow files
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-stg.yml
  .github/workflows/workspace-check.yml
  .github/workflows/workspace-verify.yml
Due: eslint --fix, prettier --write

chore: add wasm-bindgen-cli to Rust toolchain bins
  .moon/toolchains.yml
Due: eslint --fix, prettier --write

chore: update workflow files (#85)
  .github/workflows/release-dev.yml
  .github/workflows/release-stg.yml
  .github/workflows/workspace-check.yml
  .github/workflows/workspace-verify.yml
  .moon/toolchains.yml
  .prototools
  Cargo.lock
  Cargo.toml
  apps/recorder/Cargo.toml
  etc/scripts/utils/clean-build.ts
  etc/scripts/workflows/release-publish.ts
  etc/scripts/workflows/workspace-check.ts
  etc/scripts/workflows/workspace-verify.ts
  rust-toolchain.toml
Due: eslint --fix, prettier --write

chore-fix-ci
  etc/scripts/utils/clean-build.ts
Due: eslint --fix, prettier --write

chore-fix-ci (#86)
  etc/scripts/utils/clean-build.ts
Due: eslint --fix, prettier --write

chore: update moon.yml to remove outputs from dev task
  apps/app/moon.yml
Due: eslint --fix, prettier --write

chore: update moon.yml to remove outputs from dev task (#87)
  apps/app/moon.yml
Due: eslint --fix, prettier --write

WIP: 42fd130 chore: update moon.yml to remove outputs from dev task (#87)
  .moon/tasks/tag-trunk.yml
Due: eslint --fix, prettier --write

chore: update toolchain to system in tag-trunk.yml and add cargo-binstall installation in workflow_runtime.go
  .moon/tasks/tag-trunk.yml
  etc/workflow-runtime/src/workflow_runtime.go
Due: eslint --fix, prettier --write

chore: update file permissions for scripts
  etc/scripts/moon-tasks/collect-workspace-targets.ts
  etc/scripts/utils/clean-build.ts
Due: eslint --fix, prettier --write

chore: update file permissions for scripts (#89)
  etc/scripts/moon-tasks/collect-workspace-targets.ts
  etc/scripts/utils/clean-build.ts
Due: eslint --fix, prettier --write

chore: update iced
  Cargo.lock
  apps/counter/Cargo.toml
  apps/counter/src/main.rs
Due: none

chore: update iced (#90)
  Cargo.lock
  apps/counter/Cargo.toml
  apps/counter/src/main.rs
Due: none

feat: add agent
  .yarn/install-state.gz
Due: none

chore: add repo-docs skill with documentation structure and scripts
  .agents/skills/repo-docs
  docs/how-it-works/folder-structure.md
  skills/repo-docs/.gitignore
  skills/repo-docs/SKILL.md
  skills/repo-docs/references/finding-docs.md
  skills/repo-docs/references/indexing-docs.md
  skills/repo-docs/scripts/prepare.mjs
  skills/repo-docs/state/.gitkeep
Due: prettier --write

chore: update yarn install-state
  .yarn/install-state.gz
Due: none

fix: exclude skills and .agents dirs from eslint
  eslint.config.js
Due: eslint --fix, prettier --write

fix: exclude scripts:publish from moon ci verification
  etc/scripts/moon.yml
Due: eslint --fix, prettier --write

chore: bump proto installer to 0.58.1 in build-env
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/workflow-runtime/src/workflow_runtime.go
Due: none

chore: add repo-docs skill with documentation structure and scripts (#91)
  .agents/skills/repo-docs
  .yarn/install-state.gz
  docs/how-it-works/folder-structure.md
  eslint.config.js
  etc/scripts/moon.yml
  etc/templates/skeleton/etc/workflow-runtime/src/workflow_runtime.go
  etc/workflow-runtime/src/workflow_runtime.go
  skills/repo-docs/.gitignore
  skills/repo-docs/SKILL.md
  skills/repo-docs/references/finding-docs.md
  skills/repo-docs/references/indexing-docs.md
  skills/repo-docs/scripts/prepare.mjs
  skills/repo-docs/state/.gitkeep
Due: eslint --fix, prettier --write
