Repository ndthanhdev/ndthanhdev.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

"*.{ts,tsx}":
  - eslint --fix
"*.{js,jsx,ts,tsx,md,mdx,json,jsonc,html,graphql,yml,yaml}":
  - prettier --write

wip
  etc/scripts/pipelines/validate-pr.ts
Due: eslint --fix, prettier --write

wip
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-stg.yml
  .github/workflows/validate-pr.yml
Due: prettier --write

wip
  package.json
Due: prettier --write

wip
  .yarn/install-state.gz
  yarn.lock
Due: none

wip
  README.md
  docs/guidelines.md
Due: prettier --write

fix: build fail
  apps/app/src/providers/theme-provider/global-styles.tsx
Due: eslint --fix, prettier --write

validate build
  etc/scripts/pipelines/validate-pr.ts
Due: eslint --fix, prettier --write

wip
  apps/app/src/providers/theme-provider/global-styles.tsx
Due: eslint --fix, prettier --write

wip
  etc/runner/src/main.go
Due: none

fix: build fail (#63)
  apps/app/src/providers/theme-provider/global-styles.tsx
  etc/runner/src/main.go
  etc/scripts/pipelines/validate-pr.ts
Due: eslint --fix, prettier --write

wip
  .gitignore
  .moon/tasks/tag-trunk.yml
  .moon/tasks/tag-typescript.yml
  .moon/toolchain.yml
  .moon/workspace.yml
  Cargo.lock
  Cargo.toml
  apps/app/moon.yml
  apps/counter/Cargo.toml
  apps/counter/index.html
  apps/counter/moon.yml
  apps/counter/src/main.rs
  apps/recorder/.gitignore
  apps/recorder/.typos.toml
  apps/recorder/Cargo.toml
  apps/recorder/Trunk.toml
  apps/recorder/assets/favicon.ico
  apps/recorder/assets/icon-1024.png
  apps/recorder/assets/icon-256.png
  apps/recorder/assets/icon_ios_touch_192.png
  apps/recorder/assets/manifest.json
  apps/recorder/assets/maskable_icon_x512.png
  apps/recorder/assets/sw.js
  apps/recorder/check.sh
  apps/recorder/fill_template.ps1
  apps/recorder/fill_template.sh
  apps/recorder/flake.nix
  apps/recorder/index.html
  apps/recorder/moon.yml
  apps/recorder/src/app.rs
  apps/recorder/src/lib.rs
  apps/recorder/src/main.rs
  eslint.config.js
  libs/.gitkeep
  package.json
  rust-toolchain.toml
Due: prettier --write

wip
  .moon/tasks/tag-trunk.yml
  Cargo.lock
  Cargo.toml
  apps/counter/Cargo.toml
  apps/counter/Trunk.toml
  apps/counter/index.html
  apps/counter/src/main.rs
  eslint.config.js
  etc/scripts/actions/build.ts
  etc/scripts/moon.yml
  etc/scripts/utils/work-dir.ts
Due: eslint --fix, prettier --write

wip
  .yarn/install-state.gz
  etc/scripts/actions/build.ts
  etc/scripts/utils/clean-build.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

wip
  .moon/tasks/tag-typescript.yml
  .moon/toolchain.yml
  .prototools
  apps/app/moon.yml
  etc/runner/src/main.go
Due: prettier --write

wip
  .moon/tasks/tag-trunk.yml
  .moon/toolchain.yml
Due: prettier --write

wip
  .moon/toolchain.yml
  etc/runner/src/con.go
  etc/runner/src/main.go
Due: prettier --write

wip
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-stg.yml
  .github/workflows/validate-pr.yml
  etc/runner/src/main.go
Due: prettier --write

wip
  .moon/toolchain.yml
Due: prettier --write

wip
  .prototools
  etc/runner/dagger.json
  etc/runner/src/con.go
  etc/runner/src/main.go
Due: prettier --write

wip
  .prototools
Due: none

wip
  apps/app/src/components/fragments/app-card/index.tsx
  apps/app/src/components/fragments/app-card/styles.ts
  apps/app/src/components/fragments/app-header/index.tsx
  apps/app/src/components/fragments/app-tile/index.tsx
  apps/app/src/components/layouts/main/index.tsx
  apps/app/src/components/screens/apps/index.tsx
  apps/app/src/components/screens/apps/styles.ts
  apps/app/src/hooks/use-main-template-props.ts
  apps/app/src/pages/apps.tsx
Due: eslint --fix, prettier --write

wip
  .yarn/cache/react-toastify-npm-11.0.2-cedd31549c-41ad8aad51.zip
  .yarn/install-state.gz
  apps/app/package.json
  package.json
  yarn.lock
Due: prettier --write

wip
  .yarn/install-state.gz
  apps/app/package.json
  yarn.lock
Due: prettier --write

wip
  apps/app/src/hooks/notifications/use-notify-copied.tsx
  apps/app/src/hooks/use-copy-text/index.ts
  apps/app/src/pages/projects.tsx
Due: eslint --fix, prettier --write

wip
  apps/app/src/components/fragments/notification-container/index.tsx
  apps/app/src/components/fragments/notification-container/styles.ts
  apps/app/src/providers/notification-provider/index.tsx
Due: eslint --fix, prettier --write

fix: project card style
  apps/app/src/components/fragments/project-card/index.tsx
  apps/app/src/components/fragments/project-card/styles.ts
Due: eslint --fix, prettier --write

fix: project card style (#66)
  apps/app/src/components/fragments/project-card/index.tsx
  apps/app/src/components/fragments/project-card/styles.ts
Due: eslint --fix, prettier --write

fix: add gtm
  apps/counter/index.html
Due: prettier --write

wip
  apps/app/src/components/fragments/project-card/index.tsx
  apps/app/src/providers/theme-provider/index.tsx
Due: eslint --fix, prettier --write
