Repository ndthanhdev/ndthanhdev.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

"*.{ts,tsx}":
  - eslint --fix
"*.{js,jsx,ts,tsx,md,mdx,json,jsonc,html,graphql,yml,yaml}":
  - prettier --write

add code and dagger post (#50)
  .yarn/cache/@types-prismjs-npm-1.26.3-480d27e91a-4bd55230ff.zip
  .yarn/cache/cheerio-npm-1.0.0-rc.12-6785a97c2a-812fed61aa.zip
  .yarn/cache/cheerio-select-npm-2.1.0-e92bc2f296-b5d89208c2.zip
  .yarn/cache/css-select-npm-5.1.0-9365a79de5-d486b1e7eb.zip
  .yarn/cache/dom-serializer-npm-2.0.0-378ebc7200-e3bf9027a6.zip
  .yarn/cache/domhandler-npm-5.0.3-3ede73dc10-809b805a50.zip
  .yarn/cache/domutils-npm-3.1.0-66c92ef7eb-9a169a6e57.zip
  .yarn/cache/entities-npm-4.5.0-7cdb83b832-ede2a35c9b.zip
  .yarn/cache/gatsby-remark-images-npm-7.13.1-bfe6d0ffe3-fc1032bb41.zip
  .yarn/cache/gatsby-remark-prismjs-npm-7.13.1-7878ed0ee3-5e4fc849de.zip
  .yarn/cache/htmlparser2-npm-8.0.2-5d9f901bb6-ea5512956e.zip
  .yarn/cache/parse-numeric-range-npm-1.3.0-71baf377a4-289ca126d5.zip
  .yarn/cache/parse5-htmlparser2-tree-adapter-npm-7.0.0-38e1b3a974-23dbe45fdd.zip
  .yarn/cache/parse5-npm-7.1.2-aa9a92c270-3c86806bb0.zip
  .yarn/cache/prismjs-npm-1.29.0-6faa5b04b8-2080db382c.zip
  .yarn/cache/unist-util-select-npm-3.0.4-445176384c-c60405216f.zip
  .yarn/cache/zwitch-npm-1.0.5-5911cef6ce-28a1bebaca.zip
  .yarn/install-state.gz
  app/content/posts/personal-website/dagger-io/assets/trunk-based.png
  app/content/posts/personal-website/dagger-io/dagger-io.mdx
  app/gatsby-config.ts
  app/package.json
  app/src/components/molecues/post-image/styles.ts
  app/src/providers/mdx-provider.tsx
  yarn.lock
Due: eslint --fix, prettier --write

add post list
  app/content/posts/personal-website/dagger-io/assets/dagger-logo.svg
  app/content/posts/personal-website/dagger-io/dagger-io.mdx
  app/src/components/frames/home/index.tsx
  app/src/components/organisms/app-header/index.tsx
  app/src/components/organisms/post-item/index.tsx
  app/src/components/organisms/post-item/styles.ts
  app/src/gatsby-types.d.ts
  app/src/layouts/cv/index.tsx
  app/src/pages/index.tsx
  app/src/utils/styles/line-clamp.ts
Due: eslint --fix, prettier --write

add post list (#51)
  app/content/posts/personal-website/dagger-io/assets/dagger-logo.svg
  app/content/posts/personal-website/dagger-io/dagger-io.mdx
  app/src/components/frames/home/index.tsx
  app/src/components/organisms/app-header/index.tsx
  app/src/components/organisms/post-item/index.tsx
  app/src/components/organisms/post-item/styles.ts
  app/src/gatsby-types.d.ts
  app/src/layouts/cv/index.tsx
  app/src/pages/index.tsx
  app/src/utils/styles/line-clamp.ts
Due: eslint --fix, prettier --write

init moon
  .gitignore
  .moon/tasks.yml
  .moon/toolchain.yml
  .moon/workspace.yml
  .yarn/install-state.gz
  README.md
  app/content/posts/personal-website/dagger-io/dagger-io.mdx
  app/moon.yml
  app/src/stores/use-theme-mode-store.tsx
  dagger/moon.yml
  package.json
  scripts/moon.yml
Due: eslint --fix, prettier --write

dagger
  .moon/toolchain.yml
  .prototools
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  app/moon.yml
  dagger/main.go
  dagger/moon.yml
  package.json
  scripts/moon.yml
Due: prettier --write

install
  dagger/main.go
Due: none

update actions
  README.md
  app/moon.yml
  app/package.json
  dagger/main.go
  docs/guidelines.md
  scripts/moon.yml
  scripts/package.json
  scripts/pipelines/validate-pr.ts
Due: eslint --fix, prettier --write

Adding moon (#52)
  .gitignore
  .moon/tasks.yml
  .moon/toolchain.yml
  .moon/workspace.yml
  .prototools
  .yarn/install-state.gz
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  README.md
  app/content/posts/personal-website/dagger-io/dagger-io.mdx
  app/moon.yml
  app/package.json
  app/src/stores/use-theme-mode-store.tsx
  dagger/main.go
  dagger/moon.yml
  docs/guidelines.md
  package.json
  scripts/moon.yml
  scripts/package.json
  scripts/pipelines/validate-pr.ts
Due: eslint --fix, prettier --write

fix pipeline
  dagger/main.go
Due: none

fix pipeline (#53)
  dagger/main.go
Due: none

fix
  dagger/main.go
  scripts/pipelines/validate-pr.ts
Due: eslint --fix, prettier --write

fix pipeline (#54)
  dagger/main.go
  scripts/pipelines/validate-pr.ts
Due: eslint --fix, prettier --write

refactor dagger
  dagger/con.go
  dagger/main.go
  scripts/pipelines/release.ts
  scripts/pipelines/validate-pr.ts
Due: eslint --fix, prettier --write

fix
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-stg.yml
  .github/workflows/validate-pr.yml
  docs/guidelines.md
Due: prettier --write

refactor dagger (#55)
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-stg.yml
  .github/workflows/validate-pr.yml
  dagger/con.go
  dagger/main.go
  docs/guidelines.md
  scripts/pipelines/release.ts
  scripts/pipelines/validate-pr.ts
Due: eslint --fix, prettier --write

fix pipeline
  scripts/pipelines/release.ts
Due: eslint --fix, prettier --write

fix pipeline (#56)
  scripts/pipelines/release.ts
Due: eslint --fix, prettier --write

update readme
  README.md
Due: prettier --write

update readme (#57)
  README.md
Due: prettier --write

wip dbr
  .prototools
  README.md
  app/content/posts/personal-website/local-dbr/assets/landscape.svg
  app/content/posts/personal-website/local-dbr/assets/logo.svg
  app/content/posts/personal-website/local-dbr/local-dbr.mdx
  app/src/components/organisms/app-header/index.tsx
  app/src/providers/mdx-provider.tsx
Due: eslint --fix, prettier --write

wip dbr (#58)
  .prototools
  README.md
  app/content/posts/personal-website/local-dbr/assets/landscape.svg
  app/content/posts/personal-website/local-dbr/assets/logo.svg
  app/content/posts/personal-website/local-dbr/local-dbr.mdx
  app/src/components/organisms/app-header/index.tsx
  app/src/providers/mdx-provider.tsx
Due: eslint --fix, prettier --write

wip: dbr post
  .gitignore
  .yarn/cache/@esbuild-darwin-arm64-npm-0.19.12-09699ac6cb-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.19.12-59062fdb38-10.zip
  .yarn/cache/@lmdb-lmdb-darwin-arm64-npm-2.5.2-ba0aa88b93-10.zip
  .yarn/cache/@lmdb-lmdb-darwin-arm64-npm-2.5.3-68d0bab047-10.zip
  .yarn/cache/@lmdb-lmdb-linux-x64-npm-2.5.2-ca846c82b3-10.zip
  .yarn/cache/@lmdb-lmdb-linux-x64-npm-2.5.3-c0a1a11a89-10.zip
  .yarn/cache/@msgpackr-extract-msgpackr-extract-darwin-arm64-npm-3.0.2-18ac236cc4-10.zip
  .yarn/cache/@msgpackr-extract-msgpackr-extract-linux-x64-npm-3.0.2-262fca760d-10.zip
  .yarn/cache/@parcel-watcher-darwin-arm64-npm-2.4.1-7294eb72cd-10.zip
  .yarn/cache/@parcel-watcher-linux-x64-glibc-npm-2.4.1-e13cc4f7d9-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  .yarn/install-state.gz
  app/content/posts/personal-website/local-dbr/assets/select-profile.png
  app/content/posts/personal-website/local-dbr/local-dbr.mdx
Due: prettier --write

add: dbr post wip (#59)
  .gitignore
  .yarn/cache/@esbuild-darwin-arm64-npm-0.19.12-09699ac6cb-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.19.12-59062fdb38-10.zip
  .yarn/cache/@lmdb-lmdb-darwin-arm64-npm-2.5.2-ba0aa88b93-10.zip
  .yarn/cache/@lmdb-lmdb-darwin-arm64-npm-2.5.3-68d0bab047-10.zip
  .yarn/cache/@lmdb-lmdb-linux-x64-npm-2.5.2-ca846c82b3-10.zip
  .yarn/cache/@lmdb-lmdb-linux-x64-npm-2.5.3-c0a1a11a89-10.zip
  .yarn/cache/@msgpackr-extract-msgpackr-extract-darwin-arm64-npm-3.0.2-18ac236cc4-10.zip
  .yarn/cache/@msgpackr-extract-msgpackr-extract-linux-x64-npm-3.0.2-262fca760d-10.zip
  .yarn/cache/@parcel-watcher-darwin-arm64-npm-2.4.1-7294eb72cd-10.zip
  .yarn/cache/@parcel-watcher-linux-x64-glibc-npm-2.4.1-e13cc4f7d9-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  .yarn/install-state.gz
  app/content/posts/personal-website/local-dbr/assets/select-profile.png
  app/content/posts/personal-website/local-dbr/local-dbr.mdx
Due: prettier --write

content: add dbr local
  app/content/posts/personal-website/local-dbr/assets/configure-cluster.png
  app/content/posts/personal-website/local-dbr/assets/new-cluster.png
  app/content/posts/personal-website/local-dbr/assets/output.png
  app/content/posts/personal-website/local-dbr/assets/select-env.png
  app/content/posts/personal-website/local-dbr/assets/select-profile.png
  app/content/posts/personal-website/local-dbr/local-dbr.mdx
Due: prettier --write

content: add dbr local (#60)
  app/content/posts/personal-website/local-dbr/assets/configure-cluster.png
  app/content/posts/personal-website/local-dbr/assets/new-cluster.png
  app/content/posts/personal-website/local-dbr/assets/output.png
  app/content/posts/personal-website/local-dbr/assets/select-env.png
  app/content/posts/personal-website/local-dbr/assets/select-profile.png
  app/content/posts/personal-website/local-dbr/local-dbr.mdx
Due: prettier --write

wip
  app/src/providers/mdx-provider.tsx
Due: eslint --fix, prettier --write

wip
  dagger.json
Due: prettier --write

upgrade dagger
  .prototools
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/con.go
  dagger/dagger.gen.go
  dagger/go.mod
  dagger/go.sum
  dagger/internal/dagger/dagger.gen.go
  dagger/internal/querybuilder/marshal.go
  dagger/internal/querybuilder/querybuilder.go
  dagger/main.go
Due: prettier --write

wip
  .yarn/install-state.gz
Due: none

wip
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-stg.yml
  .github/workflows/validate-pr.yml
Due: prettier --write

wip
  .moon/workspace.yml
  .prototools
  dagger.json
  dagger/dagger.gen.go
  dagger/internal/dagger/dagger.gen.go
  dagger/internal/querybuilder/marshal.go
  dagger/internal/querybuilder/querybuilder.go
  etc/runner/dagger.json
  etc/runner/moon.yml
  etc/runner/src/.gitattributes
  etc/runner/src/.gitignore
  etc/runner/src/con.go
  etc/runner/src/go.mod
  etc/runner/src/go.sum
  etc/runner/src/main.go
  etc/scripts/pipelines/release.ts
  etc/scripts/utils/work-dir.ts
Due: eslint --fix, prettier --write
